@import 'normalize';

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(to right, #8e2485, #ff7526);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
input:focus {
  border: none;
  outline: none;
}

.wrapper {
  margin: 25px;
  padding: 30px;
  padding-bottom: 10px;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;

  .btn {
    margin-bottom: 30px;
  }
  .container {
    margin-bottom: 10px;
  }
}

.container {
  overflow: auto;
  max-height: 70vh;
}

//-------------------------

.btn {
  display: block;
  min-height: 20px;
  padding: 6px 14px;
  background: #bb5bf4;
  border: 1px solid #bb5bf4;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  transition: 0.4s;

  &:hover,
  &:active {
    background-color: initial;
    color: #bb5bf4;
  }

  &:active {
    opacity: 0.5;
  }
}
